*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    position:relative;
}
header{
    background:orange;
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    flex-wrap: wrap;
    width:100%;
    padding:10px 0 0 0;  
}
header a{
    color:rgb(43, 42, 42);
    text-decoration: none;
    font-family:apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:700;
    height:27px;
    transition: all 0.3s ease-out;
}
header a:hover{
    color:yellow;
}
nav{
    width: 40%;
    display:flex;
    justify-content: space-around;
    padding-top:20px;
}
header h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 33px;
    font-size:60px;
    padding-top:20px;
    color:yellow;
    text-shadow:rgb(38, 38, 38) 8.95px 10.95px 10.6px;
    overflow: hidden;
    width:100%;
}

section{
    margin:30px 150px;
    border-radius:20px;
    height: 100%;
    border:2px solid black;
}
section h1{
    text-align:left;
    font-size:40px;
    padding:10px;
    text-transform: uppercase;
    background-color: orange;
    color:yellow;
    font-family: "Brandon Grotesque", sans-serif;
    font-style: normal;
    font-weight: 900;
    border-radius:20px 20px 0 0;
}
section .firstp{
    text-align: left;
    padding:50px;
    font-size:16px;
    width:75%;
}
form{
    margin:auto;
    width:85%;
}
.container1{
    margin-bottom:20px;
    text-align: left;
}
section h2{
    color:orange;
    text-transform: uppercase;
    font-family: "Brandon Grotesque", sans-serif;
    margin-bottom:20px;
}
label{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}
input {
    padding:15px;
    width:29vw;
    margin-right:10px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    background-color: rgb(201, 201, 201);
    transition: border 0.3s ease-in-out;
}
input:hover{
    border:1px solid black;
}
select{
    padding:15px;
    width:95%;
    margin-right:320px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;
    border:none;
    background-color: rgb(201, 201, 201);
    transition:all 0.3s ease-in-out;
}
select:hover{
    border:1px solid black;
}
.name{
    display:flex;
    flex-wrap: wrap;
}
.Date{
    width:50%;
}
.Gender button:hover{
    border:1px solid black;
}
#Male{
    border-radius:10px 0 0 10px;
}
#Female{
    border-radius:0 10px 10px 0;
}
.number {
    display:flex;
}
.number #mobile{
    width:15%;
    display: inline-flex;
    margin-right:5px;
}
input .mnumber{
    padding:15px;
    width:100px;
    margin-right:0px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;
}
.more{
    font-style: italic;
    color:grey;
    font-size:12px;
    width:70%;
}
#register{
    border-radius: 20px;
    margin:50px 0;
    font-weight:bold;
    font-size:20px;
    transition: all 0.3s ease-out;
}
#register:hover{
    background-color: orange;
    color:yellow;
}


.outerr{
    background-color: orange;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top:100px;
}
.outer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20%;
}
.Contact{
    padding:20px;
    font-weight:bold;
    width:20em;
}
.first{
    padding:20px;
    line-height: 1.5em;
    font-weight:bold;
}
.second{
    padding:20px;
    line-height: 1.5em;
    font-weight:bold;
}
.mister h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 33px;
    padding:13px;
    margin-bottom:5px;
    font-size:40px;
    color:yellow;
    text-shadow:rgb(38, 38, 38) 8.95px 8.95px 10.6px;
}
.mister a{
    color:black;
    transition:all 0.3s ease-in-out;
}
.mister a:hover{
    color:yellow;
}
.mister a:hover + a:visited {
    color:black;
}
.About{
    display:flex;
    gap:10%;
}
.About p{
    text-align:left;
}
.About > .first a{
    color:black;
    text-decoration:none;
}
.About .first a:hover{
    color:yellow;
}
.About > .second a{
    color:black;
    text-decoration:none;
}
.About > .second a:hover{
    color:yellow
}
.footer{
    background-color: yellow;
    display: flex;
    justify-content:center;
    gap:50%;
    padding:10px;  
}
.footer p{
    color: black;
    font-weight:bold;
    text-transform:uppercase;
    font-style:italic;
    font-size:12px;
}